[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pukhrajchoudhary
	pushMerge = group user/BipinDobriyal
[access "refs/for/refs/*"]
	read = group user/pukhrajchoudhary
	push = group user/pukhrajchoudhary
	label-Code-Review = -2..+2 group user/pukhrajchoudhary
	label-Verified = -1..+1 group user/pukhrajchoudhary
	rebase = group user/pukhrajchoudhary
	removeReviewer = group user/pukhrajchoudhary
	submit = group user/pukhrajchoudhary
[access "refs/heads/*"]
	read = group user/pukhrajchoudhary
	create = group user/pukhrajchoudhary
	push = +force group user/pukhrajchoudhary
	pushMerge = group user/pukhrajchoudhary
	exclusiveGroupPermissions = push pushMerge
[access "refs/tags/*"]
	push = +force group user/pukhrajchoudhary
	pushTag = group user/pukhrajchoudhary
	pushSignedTag = group user/pukhrajchoudhary
[project]
	description = Test 1
[submit]
